* {
    padding: 0px;
    margin: 0px;
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #fff;
}

#waybar {
    background-color: rgba(0, 0, 0, 0);
}

.modules-right,
.modules-left,
.modules-center {
    padding: 4px 9px;
    background-color: rgb(0, 0, 0);
    border: 2px solid #fff;
    border-radius: 11px;
}

#waybar.empty .modules-center{
    opacity:0;
}
