cppman
go/telemetry
tmux/plugins

chromium
vesktop
tidal-hifi
SLSsteam
heroic

systemd/user/default.target.wants
user-dirs.locale
pavucontrol.ini
nvtop/interface.ini
OpenRGB/plugins/*.so
OpenRGB/logs
remmina
freerdp
clipse/*.log
clipse/tmp_files
clipse/clipboard_history.json 
clipse/custom_theme.json
pulse/cookie
mimeapps.list
dconf/user
evolution
ibus

Vampire_Survivors*
unity3d
